mkdocs>=1.5
mkdocs-material>=9.5
mkdocs-jupyter>=0.24
pymdown-extensions>=10.0
dissmodel>=0.2.0
geopandas
rasterio
rasterstats
libpysal
salabim
numpy
pandas
matplotlib
geodatasets
seaborn
xarray
rioxarray
dask
esda
splot
spreg
scikit-learn
spopt
pointpats
contextily
folium
git+https://github.com/DisSModel/dissmodel-ca.git
git+https://github.com/DisSModel/dissmodel-sysdyn.git
git+https://github.com/DisSModel/dissmodel-abm.git
greenlet
statsmodels